/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */

 /*****************************************************************/
/****************************HEADER*******************************/
/*****************************************************************/


/********************************************************/
/*---------------------ZONE BRANDING--------------------*/
/********************************************************/


/*------------------logo----------------*/
.logo-img {
	top: 0px !important;
}
/*------------------logo----------------*/

/********************************************************/
/*---------------------ZONE BRANDING--------------------*/
/********************************************************/


/*****************************************************************/
/****************************HEADER*******************************/
/*****************************************************************/



/*****************************************************************/
/****************************CONTENT*******************************/
/*****************************************************************/

#section-content {
    display: block;
    position: relative;
    padding-top: 10px;
}

/********************************************************/
/*---------------------ZONE BRANDING--------------------*/
/********************************************************/




/********************************************************/
/*---------------------ZONE BRANDING--------------------*/
/********************************************************/


/*****************************************************************/
/****************************CONTENT*******************************/
/*****************************************************************/
