.view-attendees table img {
  padding: 5px;
  border-radius: 12px;  
}

.view-conferencias-y-talleres .views-field-picture {
  float: left;
  margin-right: 12px;
}

.view-conferencias-y-talleres .views-field-picture img {
  border-radius: 12px;
}

.view-conferencias-y-talleres .views-field-body {
  clear: both;
}

.view-conferencias-y-talleres .views-label {
  font-weight: bold;
  color: lightslategray;
}

.view-conferencias-y-talleres .views-field-field-slot-types-time-slot  {
  color: rgb(20, 113, 231);
}

